* {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  width: 5px;
  background-color: #121212;
}

html::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 50px;
}

/* h1, h2, h3, h4, h5, h6, p, span, strong {
  pointer-events: none;
  user-select: none;
} */